.navBarContainer {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 30vh;
  background-image: url('/steak_img.jpg');
  background-position: 0% 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-shadow: 0px 7px 19px -1px rgba(27, 32, 33, 1);
  -moz-box-shadow: 0px 7px 19px -1px rgba(27, 32, 33, 1);
  box-shadow: 0px 7px 19px -1px rgba(27, 32, 33, 1);
}

@media screen and (max-width: 1100px) {
  .navBarContainer {
    height: 280px;
  }
}

.narrow {
  transition: all 0.2s ease-out;
  min-height: 80px;
  max-height: 80px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url('/steak_img.jpg');
}

.thick {
  transition: all 0.4s ease-out;
  min-height: 200px;
  max-height: 280px;
}
