.container {
  max-width: 1450px;
  margin: 360px auto 2.2rem auto;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  grid-template-rows: repeat(auto-fill, 250px);
  column-gap: 1.8rem;
  row-gap: 2.8rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1379px) {
  .container {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 1235px) and (min-width: 1085px) {
  .container {
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 340px);
  }
}

@media screen and (max-width: 822px) and (min-width: 730px) {
  .container {
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 340px);
  }
}
