.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 380px;
  height: 250px;
  cursor: pointer;
  position: relative;
  border-radius: 1.2rem;
}

.wrapper:hover {
  box-shadow: 0px 0px 8px #000000;
  opacity: 0.9;
}

@media screen and (max-width: 1235px) and (min-width: 1085px) {
  .wrapper {
    width: 340px;
  }
}

@media screen and (max-width: 822px) and (min-width: 730px) {
  .wrapper {
    width: 340px;
  }
}
